*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ------display */
.container{
    height: calc( 100vh - 80px);
    width: 100%;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    overflow-y: auto;
}

.display{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 25px;
    gap: 10px;
    
}

.display img{
    min-width: 250px;
   height: calc(100vh / 5);
    
}
/* ----call-bar */
.call-bar{
    height: 80px;
    width: 100%;
    background-color: #222222;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-bar{
    
    display: flex;
    gap: 10px;
}

.left-bar section,.center-bar section{
    flex-direction: column;
    align-items: center;
    display: flex;
}

.center-bar{
   
    display: flex;
    gap: 15px;
}

.right-bar{
    display: flex;
}

.right-bar button{
    padding: 32px;
    border: 0;
    color: red;
    background-color: #4a4a4a;
}

i{
    font-size: 1.5em;
}